#chat-screen {
  background-color: #9bbbd4;
  height: 500vh;
}

#chat-screen .status-bar,
#chat-screen .alt-header {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 0px;
  background-color: #9bbbd4;
}

#chat-screen .status-bar {
  z-index: 2;
}

#chat-screen .alt-header {
  top: 10px;
  z-index: 1;
}

@keyframes fadeIn {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

@keyframes fadeInRight {
  from {
    transform: translateX(-30px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  from {
    transform: translateX(30px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.main-chat {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat__timestamp {
  animation: fadeIn 0.3s linear;
}

.message-row {
  animation: fadeInRight 0.3s linear;
}

.message-row--own {
  animation: fadeInLeft 0.3s linear;
}

.chat__timestamp {
  color: white;
  background-color: #556677;
  padding: 15px;
  font-size: 14px;
  border-radius: 25px;
  margin-bottom: 25px;
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
}

.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.message__author {
  margin-bottom: 5px;
  display: block;
}

.message__info {
  display: flex;
  align-items: flex-end;
}

.message__bubble {
  background-color: white;
  padding: 13px;
  font-size: 18px;
  border-radius: 10px;
  border-top-left-radius: 0px;
  margin-right: 5px;
}

.message__bubble__continue {
  background-color: white;
  padding: 13px;
  font-size: 18px;
  border-radius: 10px;
  border-top-left-radius: 10px;
  margin-right: 5px;
}

.message__author,
.message__time {
  opacity: 0.8;
  font-size: 13px;
}

.message-row--own {
  justify-content: flex-end;
}

.message-row--own .message__bubble {
  background-color: var(--yellow);
  border-top-right-radius: 0px;
  border-top-left-radius: 10px;
  margin-right: 0px;
  margin-left: 5px;
}

.message-row--own .message__bubble__continue {
  background-color: var(--yellow);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin-right: 0px;
  margin-left: 5px;
}

.message-row--own .message__info {
  flex-direction: row-reverse;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  align-items: center;
  box-sizing: border-box;
  /* transition: all 0.3s ease-in-out; */
}

.reply .reply__column:first-child {
  width: 10%;
}

.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}

.reply i {
  opacity: 0.5;
}

.reply input {
  padding: 10px;
  width: 100%;
  border: var(--main-border);
  border-radius: 20px;
  /* transition: all 0.3s ease-in-out; */
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: -3px;
  top: 2px;
}

.reply__column:last-child > i {
  right: 40px;
  top: 10px;
}

.reply__column button {
  background-color: var(--yellow);
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.reply__column button i {
  opacity: 1;
}

.reply__column button:focus,
.reply__column button:active {
  outline: none;
}

/* .reply .reply__column:first-child,
.reply .fa-smile-wink,
.reply button {
  transition: opacity 0.3s ease-in-out;
} */

/* .reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile-wink,
.reply:focus-within button {
  opacity: 0;
} */

/* .reply input:focus {
  width: 90vw;
  transform: translateX(-13%) translateY(-80px);
}

.reply:focus-within {
  transform: translateY(80px);
} */
